/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
html,body{
  background: #fff;
  margin:0 auto;
  font-family: 'Inter', sans-serif;
  box-sizing:border-box;
  color: #2e2f38;
  line-height:1.26;
  
  scroll-behavior:smooth;
  letter-spacing: 0.02em;
  }

* {
  box-sizing:border-box;
  
  
}


nav{
  height:50px;
  /* background: linear-gradient(to right,#f96259, #ff5f6d); */
  background:white;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 3%;
  opacity:0.9;
}
nav a{
  text-decoration:none;
  color:white;
  color:black;
  font-size:14px;
  padding:7px;
  transition:0.25s;
}
nav:hover{
  opacity:1;
}
nav a:hover{
  text-decoration:underline;
  transform:scale(1.05);
  transition: .1s cubic-bezier(0.2,0.8,0.2,1);
}
.nav-link-container{
  width:100%;
  display:flex;
  justify-content:space-between;
}
.nav-bar{
   align-items: center;
     position: fixed;
     top: 0;
     width: 100%;
     opacity: 0.97;
     background: #fcfcfb;
     font-size: 1.2rem;
     z-index: 99999;
}



.home-container{
  height:100vh;
  margin: 0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
}
.landing-container{
  width:50%;
  margin-top:-50px;
}
.landing-title-container{
  font-size:5vw;
  font-weight:500;
  line-height:1;
}
.title-emphasis{
  background-color:#ffe0a0;
  padding:0 5px;
  /* color:#f6f2e6; */
}
.landing-subtitle-container{
  /* border:1px solid blue; */
}
.subtitle{
  font-size:1.2vw;
  font-weight:300;
}
.call-to-action{
  width:100%;
  margin-top:10%;
  text-align:center;
  /* border:1px solid blue; */
}
.landing-button{
  animation-name: landingButton;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation: MoveUpDown 1s linear infinite;
}
@keyframes landingButton {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes MoveUpDown {
  0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-3px);
	}
	100% {
		transform: translatey(0px);
	}
}











.app{
  /* padding-top:50px; */
  width:100%;
  /* border:1px solid red; */
  margin:0 auto;
  /* overflow-y: hidden; */
}
.application-title-container{
  margin:0 auto;
  width:100%;
  /* border:1px solid red; */
}
.application-title{
  font-size:2rem;
  text-align:center;
  margin-bottom:10px;
  margin-top:15px;
}




.application-container{
  /* height:100vh; */
  /* width:100%; */
  /* border:1px solid red; */
  border-top:1px solid #ECF1F5;
  background-color:#F6F8F9;

  

   /* width: 88vh; */
   /* width: 91vh;
  height: 100vw; */
  /* transform: rotate(-90deg) translateX(-88vh); */
  /* transform: rotate(-90deg) translateX(-91vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none; */
}
::-webkit-scrollbar {
  display:none;
}
.column-container{
  display:flex;
  flex-wrap:wrap;
  max-width:1300px;
  width:100%;
  margin:0 auto;

  /* margin-top:13px; */

  /* display: flex;
  flex-direction: row;
  width: 100vw;
  transform: rotate(90deg) translateY(-90vh);
  transform-origin: top left; */
}

.question-container{
  /* border:1px solid blue; */
  display:flex;
  margin:0 auto;
  width:100%;
  /* padding-top:50px; */
  /* border:1px solid black; */
}
.column-title-container{
  margin:20px auto;
  width:30%;
  /* min-width:400px; */
}
.flex-one-row{
  width:100%;
}

.column-title{
  /* border:1px solid green; */
  font-size:1.8rem;
  text-align:center;
}
.title{
  padding:0;
  margin:10px;
  /* margin:10px; */
  /* border:1px solid red; */
}



.column-content-container{
  /* border:1px solid yellow; */
  /* padding:10px; */
  /* background-color:#EDF1F2; */


  /* background-color:#EBECF0; */
  /* background-color:#eaeced; */
  /* height:700px;
  overflow-y:scroll !important;
  overflow:auto; */
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  width:100%;
}

.alternative{
  flex-direction:column;
  padding-top:5%;
}
.column-title-alternative{
  font-size:1.8rem;
  text-align:center;
}
.first-container{
  padding-top:4%;
}
.column-content{
  /* box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.1); */
  border-radius:10px;
  background-color:white;
  margin:5px;
  /* width:30%; */
  padding:5px 25px;
  padding-bottom:10px;
  margin-bottom:20px;
  border:1px solid #ECF1F5;
  /* border:1px solid green; */
  /* width:30%; */
  width:100%;
  /* display:flex;
  flex-wrap:wrap; */
}
.content{
  line-height:1.4;
  font-size:14.5px;
  /* border:1px solid red; */
  /* margin-bottom:10px; */
  padding:15px 2px;
}
.content-labels{
  /* border:1px solid red; */
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  padding:0;
  margin-bottom:5px;
  align-items:center;
  /* border:1px solid red; */
}
.button-container{
  padding:0;
  /* border:1px solid red; */
  /* width:100%; */
}
.button-label{
  border:none;
  padding:5px 13px;
  border-radius:20px;
  color:white;
  margin-right:10px;
  font-size:12px;
}
.emoji-container{
  /* width:20%; */
  /* border:1px solid red; */
}
.emoji{
  margin:0;
  padding:0;
  font-size:1.5rem;
  text-align:right;
  /* border:1px solid red; */
}
.citrics-tag{
  color:blue;
}
.content-image{
  /* border:1px solid red; */
  width:100%;
}
.pivot-table-wrapper{
  width:100%;
  display:flex;
  /* border:1px solid green; */
  /* flex-direction:column; */
  justify-content:space-between;
}
.pivot-table-container{
  /* border:1px solid red; */
  /* width:49%; */
  
  /* display:block; */
}
.pivoting{
  width:54.5%;
}
.pivoter{
  width:44.5%;
}
.smaller-pivot{
  /* width:80%; */
}
.pivot-table-container img{
  border-radius:10px;
  background-color:white;
  margin:5px;
  /* width:30%; */
  padding:10px 15px;
  /* padding-bottom:20px; */
  /* margin-bottom:20px; */
  border:1px solid #ECF1F5;
}
.pivot-table-link{
  color:#2F80ED;
  /* text-decoration:none; */
}
.sub-column-title{
  font-size:1.5rem;
}
.survey-title{
  /* border:1px solid red; */
  text-decoration:underline;
}


.application-footer-container{
  width:100%;
  text-align:right;
  padding-right:20px;
  margin-top:10px;
  /* border:1px solid red; */
  /* background-color:#F6F8F9; */
}
.application-links{
  margin-left:20px;
  font-size:14px;
  cursor:pointer;
}




/* Button styling */
.red{
  background-color:#FD574A;
}
.darkblue{
  background-color:#203AF3;
}
.purple{
  background-color:#9B51E0;
}
.green{
  background-color:#2ABB41;
}
.teal{
  background-color:#3accb8;
}
.pink{
  background-color:#FD4A76;
}
.lightblue{
  background-color:#2ca2fa;
}
.orange{
  background-color:#F2994A;
}
.royalblue{
  background-color:#2F80ED;
}
.darkorange{
  background-color:#f9784d;
}
.yellow{
  background-color:#f7c83c;
}
.lightpink{
  background-color:#fe9a8c;
}
button:focus {outline:0;}